@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

$font-family-base: 'Roboto Condensed', sans-serif;
$font-family-secondary: 'Open Sans', sans-serif;
$color-primary: #F98131;
$color-primary-hover: #ff6803;
$color-primary-gradient: linear-gradient(315deg, #FE6600 0%, #F78C45 100%);;
$light-blue-horizontal: linear-gradient(90deg, #658CBA 0%, #1E5799 100%);
$color-off: #ccc;
$titles: #393739;
$info: #555D62;
$radius: 8px;

/*********REDEFINE: CLASES PROPIAS***********/


//? Little subtitle light blue
.decorators {
    text-transform: uppercase;
    display: inline-block;
    color: #1E5799;
    font-weight: 600;
    padding-bottom: 8px;
    opacity: 60%;
    letter-spacing: 1px;
}

.decorators::after {
    content: "";
    display: block;
    height: 5px;
    transform: skew(-40deg);
    background: #5A7CA4;
}


//? Action buttons
.hidro-buttons {
    font-size: 0.875rem;
    font-family: $font-family-secondary;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    border-radius: 30px;
    background-color: $color-primary;
    color: #fff;
    padding: 10px 0;
    width: 10rem;
    transition: all 0.3s;
}

.hidro-buttons:hover {
  background: $color-primary-gradient;
  background-color: $color-primary-hover;
  color: #fff !important;
}

/********* ESTILOS GENERALES *********/

*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  height:100%;
  margin: 0;
}

.h-80{
  height: calc( 80% - 86px ) ;
  /*Se resta 86px del alto del nav para ocupar el total del alto restante
  y quede perfectamente alineado al medio
  Nico: Reemplaza 100% a 80% para lograr que el div de contenidos (titulo, parrafo e input)
  esten en posicion vertical acorde al mockup */
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

// ──────────LIGHTBOX INITIAL STYLES───────────────────────────────────────────────────────────

/* Lo coloco en esta seccion y antes del header ya que el lightbox no tiene que ser referenciado
  con ningun otro elemento que posea propiedades de position, de lo contrario el translateX en -100%
  se hara a partir del primer elemento mas cercano que este posicionado o que tenga position relative,
  y no desde el -100% del viewport que es lo que se busca, de momento esta configuracion no acarrea ningun problema por suerte xd.*/

.lightbox-container {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateX(-100%);
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  color: #f0f0f0;
  transition: all .5s ease;
  z-index: 5;
  button {
    position: absolute;
    top: 3%;
    right: 3%;
    background-color: #fff;
  }
  .lightbox-data {
    width: 70%;
    height: 60%;
    background: #444;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.show {
  transform: translateX(0);
  opacity: 100%;
}

// ──────────HEADER SECTION───────────────────────────────────────────────────────────
.header-container {
  height: 100% !important;
  background: -webkit-linear-gradient(90deg, rgba(30, 87, 153, 0.9) 0%, rgba(101, 140, 186, 0.6) 100%), url("img/img-header.jpg");
  background-image: linear-gradient(90deg, rgba(30, 87, 153, 0.9) 0%, rgba(101, 140, 186, 0.6) 100%), url("img/img-header.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(100% 0, 100% 100%, 0 80%, 0 0);
  color: #fff;
  .main-nav {
    background-color: transparent;
    color: #f0f0f0;
    .collapse .navbar-nav .nav-item {
      padding: 0 8px;
      text-transform: uppercase;
      letter-spacing: 1px;
      .sesion {
        color: #f0f0f0;
        transition: all 0.3s;
        background-color: $color-primary;
      }
      .sesion:hover {
        background-color: $color-primary-hover;
        color: #fff;
      }
      .nav-link {
        color: #ccc;
        transition: all 0.3s;
      }
      .nav-link:hover {
        transform: scale(1.1, 1.1);
        color: #FFF;
      }
    }
  }
  form div {
    .email-info {
      border: none;
      outline: none !important;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
    span {
      background-color: $color-primary;
      transition: all 0.3s;
      border: none;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      .send-email {
        border: none;
        outline: none;
        color: #f0f0f0;
        background-color: inherit;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
    span:hover {
      background-color: $color-primary-hover;
    }
  }
}

// ──────────CARDS COLLECTION HEADER───────────────────────────────────────────────────────────
.hidro-cards {
  bottom: 5%;
  .card {
    width: 15rem !important;
    padding: 8px;
    margin: 8px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
    text-align: center;
    img {
      width: 100%;
      height: 60px;
    }
    .card-body {
      h5 {
        color: $titles;
      }
      p {
        color: $info;
      }
    }
  }
}

main {
  padding: 0.5rem 5.5rem;
  // ──────────ABOUT US SECTION───────────────────────────────────────────────────────────
  .featurette {
    color: $titles;
    justify-content: space-around;
    .img-nos-container {
      width: max-content;
      img {
        width: 400px;
      }
    }

    .info-nos {
      h1 {
        font-size: 34px;
      }
      h4 {
        font-size: 24px;
      }
      p {
        font-size: 16px;
      }
    }
  }

// ──────────TABS CARD SECTION───────────────────────────────────────────────────────────
  .skills {
    .skills-info {
      h3 {
        color: $titles;
        span {
          color: $info;
        }
      }
      p {
        color: $info;
        font-size: 16px;
      }
    }
    .skills-buttons {
      .row {
        button {
          width: 45%;
          margin: 8px;
          padding: 1em;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
          transition: all .5s ease;
          letter-spacing: 1px;
          color: $color-primary;
          svg > path {
            transition: all .3s;
            fill: $color-primary;
          }
        }
        button:hover {
          transform: translateY(-5px);
          background: linear-gradient(140deg , $color-primary, $color-primary-hover);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
          color: #fff;
          font-weight: bold;
          svg > path {
            fill: #fff;
          }
        }
      }
    }
  }

// ──────────INSTRUCTOR SECTION───────────────────────────────────────────────────────────

  .teacher-section {
    .row .data-teacher {
      p {
        margin-bottom: 0;
      }
      h5 {
        color: $titles;
      }
    }
    .teacher-works {
      .img-teacher {
        width: 85%;
        border-radius: $radius;
      }
      .gallery {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        .gallery-item {
          width: 40%;
          height: 300px;
          margin: 1em;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
          border-radius: $radius;
          overflow: hidden;
          cursor: pointer;
          transition: all .3s;
          img {
            object-fit: cover;
            border-radius: $radius;
            width: 100%;
            height: 100%;
            transition: all .3s;
          }
          p {
            bottom: 3%;
            left: 3%;
            opacity: 0;
            text-align: center;
            color: #ccc;
            transition: all .3s;
          }
        }
        .gallery-item:hover {
          transform: scale(1.03,1.03);
          background: rgba(0, 0, 0, 0.5);
          img {
            filter: brightness(0.3);
          }
          p {
            opacity: 100%;
          }
        }
      }
    }
  }

// ──────────PRICING SECTION───────────────────────────────────────────────────────────
  .pricing-container {

    h5 {
      color: $titles;
    }

    .pricing-card{
// TODO el border shadow - los iconos - la fuente secundaria en p:nth-child(2) - boton - link
      max-width: 18.75rem !important;
      border: none;
      border-radius: $radius;
      box-shadow: 0 4px 14px rgba(119, 129, 139, 0.12);        
      
      //* Pricing Card Special
      &--recommended{
        box-shadow: 0 4px 14px rgba(119, 129, 139, 0.4)!important;
        @extend .pricing-card;
        .pricing-card-header{
          @extend .pricing-card-header;
          opacity: 1!important;
        }
        
        .recommended{
          color: #fff;
          background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
          clip-path: polygon(0 0,100% 0,100% 10%, 0 90%);
  
  
          span{
            display: block;
            padding: 2.5vmin 3vmin 6vmin;
          }
        }
        svg{
          margin-right: .5rem;
        }

        .pricing-card-titles{
          transform: translateY(-15%)!important;
          padding:0 0 9vmin 0 !important;
  
          h4{
            color: #fff;
          }
          p{
            color: rgba(255,255,255,.6);
          }
        }
      }
      
      //* The properties of the other cards
      .pricing-card-header{
        background: $light-blue-horizontal;
        clip-path: polygon(0 0, 100% 0, 100% 60%, 0 90%);
        border-radius: $radius $radius 0 0;
        opacity: .7;

      }
      
      .pricing-card-titles{
        transform: translateY(-10%);
        padding: 12.5vmin 0 9vmin 0;

        h4{
          color: #fff;
        }
        p{
          color: rgba(255,255,255,.6);
        }
      }
      //* Shared properties of cards

      .list-item-card{
        
        li{
          color: $titles;

          svg{
            width: 1.5rem;
            height: 1.5rem;
            margin: 0 1.5rem .5rem 0.938rem;
          }
        }
      }

      .detail-price{
        font-family: $font-family-secondary;
        
        h1{
          font-weight: 700;
          sup{
            font-size: .7em;
            font-weight: 400;
            color: $info;
          }

          span{
            font-size: .5em;
            font-weight: 400;
            color: $info;
          }
        }
        
        a{
          text-decoration: none;
          
          color: #1E5799;
          font-size: 0.875rem;
        }
      }
    }
    
  }    

// ──────────TESTIMONIALS SECTION───────────────────────────────────────────────────────────


// ──────────CONTACT SECTION───────────────────────────────────────────────────────────

}


// ──────────FOOTER SECTION───────────────────────────────────────────────────────────

