@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$font-family-base: 'Roboto Condensed', sans-serif;;
$color-primary: #F98131;
$color-primary-hover: #ff6803;
$color-off: #ccc;
$titulos: #393739;
$info: #555D62;
$decoradores: #1E5799;
$radius: 8px;
$espaciado: 0.5rem 5.5rem;

*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidro-container {
  padding: 0.5rem 5.5rem;
  margin: 0 auto;
}

body {
  font-family: $font-family-base;
  color: #f0f0f0;
}

.header-container {
  height: 100vh !important;
  background-image: linear-gradient(to right,rgba(60, 83, 172, 1), rgba(107, 163, 238, .38)), url('img/img-header.jpg');
  background: -webkit-linear-gradient(to right, rgba(60, 83, 172, 1), rgb(107, 163, 238, .38)), url('img/img-header.jpg');
  background-size: cover;
  background-position: center;
  clip-path: polygon(100% 0, 100% 100%, 0 80%, 0 0);
  .main-nav {
    background-color: transparent;
    color: #f0f0f0;
    padding: $espaciado;
      .collapse {
        .navbar-nav {
          .nav-item {
            padding: 0px 8px;
            text-transform: uppercase;
            letter-spacing: 1px;
            .nav-link {
              color: $color-off;
              transition: all .3s;
            }
            .nav-link:hover {
              transform: scale(1.1,1.1);
              color: #FFF;
            }
            .sesion {
              color: #f0f0f0;
              transition: all .3s;
              background-color: $color-primary;
            }
            .sesion:hover {
              background-color:$color-primary-hover;
              color: #fff;
            }
          }
        }
      }
  }
  .info-header {
    margin-left: 6rem;
    height: 60%;
    h1 {
      font-size: 42px;
    }
    p {
      letter-spacing: 1px;
    }
    form {
      
      div {
        .email-info {
          border:none;
          outline: none !important;
          border-top-left-radius: 1rem;
          border-bottom-left-radius: 1rem;
        }
        span {
          background-color: $color-primary;
          transition: all .3s;
          border: none;
          border-top-right-radius: 1rem;
          border-bottom-right-radius: 1rem;
          .send-email {
            border: none;
            outline: none;
            color: #f0f0f0;
            background-color: inherit;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }
        span:hover {
          background-color: $color-primary-hover;
        }
      }
    }
  }
}

.hidro-cards {
  padding: $espaciado;
  bottom: 5%;
  .card {
    width: 15rem !important;
    padding: 8px;
    margin: 8px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, .5);
    text-align: center;
    img {
      width: 100%;
      height: 60px;
    }
    .card-body {
      h5 {
        color: $titulos;
      }
      p {
        color: $info;
      }
    }
  }
}

// ACA ARRANCAN LAS SECCIONES DEL MAIN 

main {
  padding: $espaciado;
  .nosotros {
    .img-info-instituto {
      //border: 1px solid red;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .info-instituto {
      display: flex;
      align-items: center;
      //border: 1px solid red;
      .data-instituto-decorator {
        display: inline-block;
        color: $decoradores;
        font-weight: 600;
        padding-bottom: 4px;
        border-bottom: 2px solid $decoradores;
        opacity: 60%;
      }
      h3 {
        font-size: 2.5rem;
      }
      h4 {
        font-size: 1.5rem;
      }
      h3,h4 {
        color: $titulos;
      }
      p {
        color: $info;
        font-size: 1rem;
      }
      a {
        font-size: 21px;
        border-radius: 30px;
        background-color: $color-primary;
        color: #fff;
        width: 9rem;
        transition: all .3s;
      }
      a:hover {
        background-color: $color-primary-hover;
      }
    }
  }
}