@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/*********REDEFINE: CLASES PROPIAS***********/
.decorators {
  text-transform: uppercase;
  display: inline-block;
  color: #1E5799;
  font-weight: 600;
  padding-bottom: 8px;
  opacity: 60%;
  letter-spacing: 1px;
}

.decorators::after {
  content: "";
  display: block;
  height: 5px;
  transform: skew(-40deg);
  background: #5A7CA4;
  width: 5rem;
}

.hidro-buttons {
  font-size: 21px;
  border-radius: 30px;
  background-color: #F98131;
  color: #fff;
  width: 10rem;
  transition: all 0.3s;
}

.hidro-buttons:hover {
  background-color: #ff6803;
  color: #fff !important;
}

/********* ESTILOS GENERALES *********/
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

.h-80 {
  height: calc( 80% - 86px );
  /*Se resta 86px del alto del nav para ocupar el total del alto restante
  y quede perfectamente alineado al medio
  Nico: Reemplaza 100% a 80% para lograr que el div de contenidos (titulo, parrafo e input)
  esten en posicion vertical acorde al mockup */
}

body {
  font-family: "Roboto Condensed", sans-serif;
  color: #f0f0f0;
}

.header-container {
  height: 100% !important;
  background: -webkit-linear-gradient(90deg, rgba(30, 87, 153, 0.9) 0%, rgba(101, 140, 186, 0.6) 100%), url("img/img-header.jpg");
  background-image: linear-gradient(90deg, rgba(30, 87, 153, 0.9) 0%, rgba(101, 140, 186, 0.6) 100%), url("img/img-header.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(100% 0, 100% 100%, 0 80%, 0 0);
}
.header-container .main-nav {
  background-color: transparent;
  color: #f0f0f0;
}
.header-container .main-nav .collapse .navbar-nav .nav-item {
  padding: 0 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.header-container .main-nav .collapse .navbar-nav .nav-item .sesion {
  color: #f0f0f0;
  transition: all 0.3s;
  background-color: #F98131;
}
.header-container .main-nav .collapse .navbar-nav .nav-item .sesion:hover {
  background-color: #ff6803;
  color: #fff;
}
.header-container .main-nav .collapse .navbar-nav .nav-item .nav-link {
  color: #ccc;
  transition: all 0.3s;
}
.header-container .main-nav .collapse .navbar-nav .nav-item .nav-link:hover {
  transform: scale(1.1, 1.1);
  color: #FFF;
}
.header-container form div .email-info {
  border: none;
  outline: none !important;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.header-container form div span {
  background-color: #F98131;
  transition: all 0.3s;
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.header-container form div span .send-email {
  border: none;
  outline: none;
  color: #f0f0f0;
  background-color: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.header-container form div span:hover {
  background-color: #ff6803;
}

.hidro-cards {
  bottom: 5%;
}
.hidro-cards .card {
  width: 15rem !important;
  padding: 8px;
  margin: 8px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.hidro-cards .card img {
  width: 100%;
  height: 60px;
}
.hidro-cards .card .card-body h5 {
  color: #393739;
}
.hidro-cards .card .card-body p {
  color: #555D62;
}

main {
  padding: 0.5rem 5.5rem;
}
main .featurette {
  color: #393739;
  justify-content: space-around;
}
main .featurette .img-nos-container {
  width: max-content;
}
main .featurette .img-nos-container img {
  width: 400px;
}
main .featurette .info-nos h1 {
  font-size: 34px;
}
main .featurette .info-nos h4 {
  font-size: 24px;
}
main .featurette .info-nos p {
  font-size: 16px;
}
main .skills .skills-info h3 {
  color: #393739;
}
main .skills .skills-info h3 span {
  color: #555D62;
}
main .skills .skills-info p {
  color: #555D62;
  font-size: 16px;
}
main .skills .skills-buttons .row button {
  width: 45%;
  margin: 8px;
  padding: 1em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
  letter-spacing: 1px;
  color: #F98131;
}
main .skills .skills-buttons .row button svg > path {
  transition: all 0.3s;
  fill: #F98131;
}
main .skills .skills-buttons .row button:hover {
  transform: translateY(-5px);
  background: linear-gradient(140deg, #F98131, #ff6803);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
}
main .skills .skills-buttons .row button:hover svg > path {
  fill: #fff;
}
main .hidro-cards {
  bottom: 5%;
}
main .hidro-cards .card {
  width: 15rem !important;
  padding: 8px;
  margin: 8px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
  text-align: center;
}
main .hidro-cards .card img {
  width: 100%;
  height: 60px;
}
main .hidro-cards .card .card-body h5 {
  color: #393739;
}
main .hidro-cards .card .card-body p {
  color: #555D62;
}

/*# sourceMappingURL=styles.css.map */
