@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto+Condensed:wght@300;400;700&display=swap");
/*********REDEFINE: CLASES PROPIAS***********/
.decorators {
  text-transform: uppercase;
  display: inline-block;
  color: #1E5799;
  font-weight: 600;
  padding-bottom: 8px;
  opacity: 60%;
  letter-spacing: 1px;
}

.decorators::after {
  content: "";
  display: block;
  height: 5px;
  transform: skew(-40deg);
  background: #5A7CA4;
  width: 5rem;
}

.hidro-buttons {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  border-radius: 30px;
  background-color: #F98131;
  color: #fff;
  padding: 10px 0;
  width: 10rem;
  transition: all 0.3s;
}

.hidro-buttons:hover {
  background: linear-gradient(315deg, #FE6600 0%, #F78C45 100%);
  background-color: #ff6803;
  color: #fff !important;
}

/********* ESTILOS GENERALES *********/
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

:focus {
  outline: none;
}

.h-80 {
  height: calc( 80% - 86px );
}

body {
  font-family: "Roboto Condensed", sans-serif;
  color: #f0f0f0;
}

.header-container {
  height: 100% !important;
  background: -webkit-linear-gradient(90deg, rgba(30, 87, 153, 0.9) 0%, rgba(101, 140, 186, 0.6) 100%), url("img/img-header.jpg");
  background-image: linear-gradient(90deg, rgba(30, 87, 153, 0.9) 0%, rgba(101, 140, 186, 0.6) 100%), url("img/img-header.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(100% 0, 100% 100%, 0 80%, 0 0);
}
.header-container .main-nav {
  background-color: transparent;
  color: #f0f0f0;
}
.header-container .main-nav .collapse .navbar-nav .nav-item {
  padding: 0 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.header-container .main-nav .collapse .navbar-nav .nav-item .sesion {
  color: #f0f0f0;
  transition: all 0.3s;
  background-color: #F98131;
}
.header-container .main-nav .collapse .navbar-nav .nav-item .sesion:hover {
  background-color: #ff6803;
  color: #fff;
}
.header-container .main-nav .collapse .navbar-nav .nav-item .nav-link {
  color: #ccc;
  transition: all 0.3s;
}
.header-container .main-nav .collapse .navbar-nav .nav-item .nav-link:hover {
  transform: scale(1.1, 1.1);
  color: #fff;
}
.header-container form div .email-info {
  border: none;
  outline: none !important;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.header-container form div span {
  background-color: #F98131;
  transition: all 0.3s;
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.header-container form div span .send-email {
  border: none;
  outline: none;
  color: #f0f0f0;
  background-color: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.header-container form div span:hover {
  background-color: #ff6803;
}

.hidro-cards {
  bottom: 5%;
}
.hidro-cards .card {
  width: 15rem !important;
  padding: 8px;
  margin: 8px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.hidro-cards .card img {
  width: 100%;
  height: 60px;
}
.hidro-cards .card .card-body h5 {
  color: #393739;
}
.hidro-cards .card .card-body p {
  color: #555D62;
}

main .featurette {
  color: #393739;
  justify-content: space-around;
}
main .featurette .img-nos-container {
  width: max-content;
}
main .featurette .img-nos-container img {
  width: 400px;
}
main .featurette .info-nos h1 {
  font-size: 34px;
}
main .featurette .info-nos h4 {
  font-size: 24px;
}
main .featurette .info-nos p {
  font-size: 16px;
}
main .skills .skills-info h3 {
  color: #393739;
}
main .skills .skills-info h3 span {
  color: #555D62;
}
main .skills .skills-info p {
  color: #555D62;
  font-size: 16px;
}
main .skills .skills-buttons .row button {
  width: 45%;
  margin: 8px;
  padding: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
  letter-spacing: 1px;
  color: #F98131;
}
main .skills .skills-buttons .row button svg > path {
  transition: all 0.3s;
  fill: #F98131;
}
main .skills .skills-buttons .row button:hover {
  transform: translateY(-5px);
  background: linear-gradient(140deg, #F98131, #ff6803);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
}
main .skills .skills-buttons .row button:hover svg > path {
  fill: #fff;
}
main .pricing-container h5 {
  color: #393739;
}
main .pricing-container .pricing-card, main .pricing-container .pricing-card--recommended {
  max-width: 18.75rem !important;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 14px rgba(119, 129, 139, 0.12);
}
main .pricing-container .pricing-card--recommended {
  box-shadow: 0px 4px 14px rgba(119, 129, 139, 0.4) !important;
}
main .pricing-container .pricing-card--recommended .pricing-card-header {
  opacity: 1 !important;
}
main .pricing-container .pricing-card--recommended .recommended {
  color: #fff;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  clip-path: polygon(0 0, 100% 0, 100% 10%, 0 90%);
}
main .pricing-container .pricing-card--recommended .recommended span {
  display: block;
  padding: 2.5vmin 3vmin 6vmin;
}
main .pricing-container .pricing-card--recommended svg {
  margin-right: 0.5rem;
}
main .pricing-container .pricing-card--recommended .pricing-card-titles {
  transform: translateY(-15%) !important;
  padding: 0 0 9vmin 0 !important;
}
main .pricing-container .pricing-card--recommended .pricing-card-titles h4 {
  color: #fff;
}
main .pricing-container .pricing-card--recommended .pricing-card-titles p {
  color: rgba(255, 255, 255, 0.6);
}
main .pricing-container .pricing-card .pricing-card-header, main .pricing-container .pricing-card--recommended .pricing-card-header {
  background: linear-gradient(90deg, #658CBA 0%, #1E5799 100%);
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 90%);
  border-radius: 8px 8px 0 0;
  opacity: 0.7;
}
main .pricing-container .pricing-card .pricing-card-titles, main .pricing-container .pricing-card--recommended .pricing-card-titles {
  transform: translateY(-10%);
  padding: 12.5vmin 0 9vmin 0;
}
main .pricing-container .pricing-card .pricing-card-titles h4, main .pricing-container .pricing-card--recommended .pricing-card-titles h4 {
  color: #fff;
}
main .pricing-container .pricing-card .pricing-card-titles p, main .pricing-container .pricing-card--recommended .pricing-card-titles p {
  color: rgba(255, 255, 255, 0.6);
}
main .pricing-container .pricing-card .list-item-card li, main .pricing-container .pricing-card--recommended .list-item-card li {
  color: #393739;
}
main .pricing-container .pricing-card .list-item-card li svg, main .pricing-container .pricing-card--recommended .list-item-card li svg {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1.5rem 0.5rem 0.938rem;
}
main .pricing-container .pricing-card .detail-price, main .pricing-container .pricing-card--recommended .detail-price {
  font-family: "Open Sans", sans-serif;
}
main .pricing-container .pricing-card .detail-price h1, main .pricing-container .pricing-card--recommended .detail-price h1 {
  font-weight: 700;
}
main .pricing-container .pricing-card .detail-price h1 sup, main .pricing-container .pricing-card--recommended .detail-price h1 sup {
  font-size: 0.7em;
  font-weight: 400;
  color: #555D62;
}
main .pricing-container .pricing-card .detail-price h1 span, main .pricing-container .pricing-card--recommended .detail-price h1 span {
  font-size: 0.5em;
  font-weight: 400;
  color: #555D62;
}
main .pricing-container .pricing-card .detail-price a, main .pricing-container .pricing-card--recommended .detail-price a {
  text-decoration: none;
  color: #1E5799;
  font-size: 0.875rem;
}
main .contact-section {
  border-radius: 8px;
  color: #393739;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.4);
}
main .contact-section .write-us {
  background-color: #fff;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
main .contact-section .write-us h5 {
  color: #1E5799;
}
main .contact-section .write-us input[type=text], main .contact-section .write-us input[type=email], main .contact-section .write-us textarea {
  color: #ff6803;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}
main .contact-section .write-us .input-effect {
  border: 0;
  border-bottom: 1px solid #ccc;
}
main .contact-section .write-us .input-effect ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff6803;
  transition: 0.4s;
}
main .contact-section .write-us .input-effect:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}
main .contact-section .write-us label {
  color: #555D62;
}
main .contact-section .info-contact {
  background-image: linear-gradient(90deg, rgba(30, 87, 153, 0.7) 0%, rgba(101, 140, 186, 0.6) 100%), url("img/img-contact.jpg");
  background-size: cover;
  background-position: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
main .contact-section .info-contact h5 {
  color: #fff;
}
main .contact-section .info-contact p {
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
